/*SASS Variables - NB all varaibles are global anyway! :s */
/*color variables*/
$table_border_col: rgb(220,220,220);
$table_border_rad: 0px;
$table_text_indent: 15px;

/*font variables*/
$para_anchor_size: 11px;

/*Colors*/
$obj_color: rgb(120,120,120);
$theme_color: #00aeef;
/*$theme_color: rgb(255,61,61);*/
/*$theme_color: #3D9AFF;*/
/*#69DA72*/
/*$theme_color: rgb(255, 111, 111);*/
$theme_highlight_color: rgba(0,174,239,0.06);

/*User bubble variables*/
$bubble_outer_height: 125px;
$bubble_diam: 75px;


$bubble_radius: 100px;

$big_btn_height: 43px;
$little_btn_height: 35px;
